/*------reset------*/
body,dl,dd,ul,ol,h1,h2,h3,h4,h5,h6,p,form{margin:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
em,i,b{font-style:normal;}
ul,ol{list-style:none;}
a{text-decoration:none;color:#363636;}
a:hover{text-decoration:none;}
img{border:0;border-radius:5px;}
button,input,select,textarea{font-size:100%;outline:none;}
textarea{resize:none;}
table{border-collapse:collapse;border-spacing:0;}
td,th,ul,ol{padding:0;}
/*------common------*/
.pr{position:relative}
.pa{position:absolute}
.fl{float:left}
.fr{float:right}
.fl,.fr{display:inline}
.bc{margin-left:auto;margin-right:auto}
.cb{clear:both}
.clearfix{*zoom:1}
.clearfix:after{content:'\20';display:block;height:0;line-height:0;visibility:hidden;clear:both}
.none{display:none}
.db{display:block}
.ht{overflow:hidden;text-indent:-9999px;text-decoration:none}
.fb{font-weight:bold}
.fn{font-weight:normal}
.f12{font-size:12px}
.f16{font-size:16px}
.f22{font-size:22px}
.tc{text-align:center}
.tr{text-align:right}
.video-list .mr0{margin-right:0}
.zkcontent{ width:100%; min-width:1200px;min-height:620px; height:auto; margin:0 auto; background:url(http://game.gtimg.cn/images/yxzj/web201605/page/ny_con_bg.jpg) no-repeat center top;}
.chromeframe{background: #000;color: #fff;padding: 10px 0; text-align: center;width: 100%;font-size: 14px}
.chromeframe a{color: #F13C35}
/*------private------*/
body{padding-top:42px;background:#fafafa;font:14px/1.5 '\5FAE\8F6F\96C5\9ED1',tahoma,'\5b8b\4f53',sans-serif;color:#323235;}
.wrapper{background:url(http://game.gtimg.cn/images/yxzj/web201605/top_banner/bg_wrapper2.jpg) no-repeat center top;position: relative;*z-index: 9999;}
.top-nav-bg{/*background:url(http://game.gtimg.cn/images/yxzj/web201605/top_banner/rtp.png) repeat 50% 0;*/width: 100%;height: 84px;top: 0;left: 0;position: absolute;z-index: 99;min-width: 1200px;background: #000;background: rgba(0,0,0,0.8);}
.idx-mask{background:url(http://game.gtimg.cn/images/yxzj/web201605/top_banner/idx-mask.png) repeat 50% 0;width: 100%;height: 286px;top: 0;left: 0;position: absolute;z-index: 20;min-width: 1200px}
.logo{z-index:100;background:url(http://game.gtimg.cn/images/yxzj/web201605/top_banner/logo.png) no-repeat center center;width: 204px;height: 152px;}



.spr{background:url(http://game.gtimg.cn/images/yxzj/web201605/main/spr.png) no-repeat;}
.spr2{background:url(http://game.gtimg.cn/images/yxzj/web201605/main/spr2.jpg) no-repeat;}
/*----header----*/
.header{width:100%;height:618px;overflow:hidden;position: relative;z-index: 99}
.header-inner{height:72px;margin:0 auto;}
.sub-nav {position: absolute;visibility: hidden;top: 84px;left: 0;width: 100%;padding-top: 15px;padding-bottom:30px;background: #000;background: rgba(0,0,0,0.7);z-index: 3;}         .sub-nav-inner {width:982px;height:176px;padding-left: 218px;margin: 0 auto;overflow: hidden;zoom: 1;}                                                                                             
.logo{top:-503px;left:0;width:218px;height:152px;}
.view-btn{position: absolute;z-index: 2;width:240px;height:420px;top:-420px;left:50%;margin-left:-120px;outline: none;}
.main-nav{width:982px;margin:0 auto;padding-left:218px;}
.main-nav li{float:left;display:inline;width:100px;height:84px;padding:0 5px;margin-left:12px;text-align: center;}
.main-nav a{display:block;width:100px;height:52px;padding:20px 0 0;color:#e2e2e2;font-size:16px;}
.main-nav i{display:block;font-size:16px;}
.main-nav em{display:block;padding-top:5px;-webkit-transform:scale(0.75);-o-transform:scale(1);color:#858792;}
.down-nav{float:left;display:inline;width:100px;padding:2px 5px 0;margin-left:12px;text-align: center;}
.down-nav a{height:30px;line-height:30px;display:block;padding:0;font-size:14px;color:#e2e2e2;}
.down-nav a:hover{color:#28a0e7;text-decoration:underline;}
/*.main-nav .first-nav{height:71px;}*/
.info-box{position:relative;margin: 431px auto 0;width:1200px;height:115px;background:url(http://game.gtimg.cn/images/yxzj/web201605/top_banner/bg_header.png) no-repeat;}
.hero-box{width:732px;padding:8px 20px 0;color:#a6afbc;}
.hero-list{margin-top:8px;}
.hero-list li{float:left;display:inline;position:relative;margin-right:10px;}
.hero-list a{display:block;}
.hero-list img{border-radius:5px}
.more-hero{top:10px;right:15px;line-height:15px;padding:30px 10px 10px;color:#626a7a;}
.txt1,.more-hero:hover{color:#6595c2;}
.login-box{width:408px;padding:12px 10px;}
#unlogin{margin-top:32px;}
.avatar{top:-5px;left:10px;width:106px;height:120px;display:block;background-position:-110px -174px;}
.avatar img{margin:24px 0 0 15px;border-radius:10px;}
.level-ico{top:81px;left:68px;width:21px;height:20px;padding-left:3px;background-position:-331px -105px;color:#ffffff;}
.per-infor{width:300px;margin-left:115px;}
.user-name{margin-bottom:20px;}
.user-name em{font-size:16px;color:#ffffff;}
.user-name i,.user-name a{color:#8ea0b0;margin-left:10px;}
.userinfo-list li{float:left;display:inline;width:68px;height:46px;margin-right:2px;background:#0b3b61;border:1px solid #0c3253;border-radius:5px;overflow:hidden;}
.userinfo-list em{display:block;color:#b3bbc5;margin-top:3px;height:20px;overflow:hidden;}
.userinfo-list i{color:#406380;font-size:12px;}
.txt2{color:#b3bbc5;}
.txt2 a{color:#2d84d3;}
/*----footer1----*/
.footer-wrap{height:362px;background:url(http://game.gtimg.cn/images/yxzj/web201605/top_banner/bg_footer.jpg) no-repeat center 0;}
.footer{width:1200px;padding-top:80px;}
.foot-t{padding-bottom:10px;margin-bottom:20px;border-bottom:2px solid #d4d4d4;}
.foot-logo{width:377px;}
.logo1{width:285px;height:64px;}
.logo2{width:70px;height:64px;background-position:-285px 0;}
.foot-tips{width:338px;}
.foot-tips em{margin-right:12px;color:#6d6d6d;}
.foot-media{width:285px;margin-top:20px;background:#f7f7f7;color:#666666;cursor:pointer;}
.media-tit{width:270px;height:30px;line-height:30px;padding-left:10px;border:3px solid #b8b8b8;}
.arrow-ico-btn{top:6px;right:3px;width:38px;height:24px;border-left:1px solid #b8b8b8;}
.arrow-ico{width:7px;height:6px;margin:10px 0 0 15px;background-position:-348px -86px;}
.media-list{width:280px;height:300px;margin-top:-3px;border:3px solid #b8b8b8;overflow-y:auto; background-color: #F7F7F7}
.media-list a{display:block;padding-left:15px;height:28px;line-height:28px;background:#f7f7f7;}
.media-list a:hover{background:#3589dd;color:#ffffff; text-decoration: none;}
.foot-b,.foot-b a{color:#646467;}
.foot-b{float:right;width:588px;}
.foot-txt{width:586px;margin:5px 0;}
.foot-t .media-pic{margin-top: 17px;margin-left: 36px;}
.foot-b .cb{text-align:left;margin-bottom:5px;}
/*----footer2----*/
.footer-wrap2{height:502px;background:#3d4253 url(http://game.gtimg.cn/images/yxzj/web201605/page/footer_bg.jpg) no-repeat center 0;color:#82879b;}
.footer-wrap2 .foot-t{border-bottom:2px solid #82879b;}
.footer-wrap2 .logo1{background:url(http://game.gtimg.cn/images/yxzj/web201605/page/footer_logo.png) no-repeat;}
.footer-wrap2 .logo2{background:url(http://game.gtimg.cn/images/yxzj/web201605/page/footer_logo.png) no-repeat -285px 0;}
/*----pop----*/                 
.pop{width:530px;height:254px;background:url(http://game.gtimg.cn/images/yxzj/web201605/main/login.jpg) no-repeat;}                  
.close{right:0;top:0;width:40px;height:40px;background:url(about:blank);}
.wx-login{top:143px;left:60px;width:197px;height:46px;background:url(about:blank);}
.qq-login{top:143px;left:272px;width:197px;height:46px;background:url(about:blank);}
.pop2{width:530px;height:354px;background:url(http://game.gtimg.cn/images/yxzj/web201605/main/sec.jpg) no-repeat;} 
.se-input{padding:117px 0 0 50px;}
.se-input select{display:block;width:430px;height:37px;line-height:37px;margin-bottom:10px;}
.se-btn{padding:16px 0 0 146px;}
.se-btn a{width:116px;height:34px;margin-right:13px;background:url(about:blank);}
/*----λ----*/
.icon{ background:url(http://game.gtimg.cn/images/yxzj/web201605/page/sprite.png) no-repeat; text-indent:-9999px; display:block;}
.con1-pos{width: 100%; margin-bottom: 40px; height:20px; line-height:20px; color:#464547; font-size:16px;}
.con1-pos .tb1{ background-position:0 -4px; width:18px; height:18px; margin-right:9px;}
.con1-pos a,.con1-pos span{ margin-right:8px;}
.con1-pos a{ text-decoration:underline;}
/*-----------*/
.dia-weixin{width:306px;height:297px;background:url(http://game.gtimg.cn/images/yxzj/web201605/page/weixin.png);}
.dia-story{width:306px;height:297px;background:url(http://game.gtimg.cn/images/yxzj/web201605/page/story.png);}
.dia-skin{width:306px;height:297px;background:url(http://game.gtimg.cn/images/yxzj/web201605/page/skin.png);}
.dia-version{width:306px;height:297px;background:url(http://game.gtimg.cn/images/yxzj/web201605/page/version.png);}                     
.dia-kefu{width:368px;height:358px;background:url(http://game.gtimg.cn/images/yxzj/web201605/page/kf.png);overflow:hidden;}
.dia-kefu p{margin:266px 0 0 76px;color:#b7bde1;font-size:18px;text-indent: 17px;}
.dia-kefu a{color:#7b96e4;}
.dia-close{position:absolute;top:0;right:0;width:45px;height:45px;background:url(http://game.gtimg.cn/images/yxzj/web201605/page/close.png);}

                      
.download-popup .dia-con{width:auto;background:none;}
.dia-download{padding:30px  76px 23px 48px;background:url(http://game.gtimg.cn/images/yxzj/web201605/page/down_bg.png);}
.dia-download .code{float:left;margin-right:36px;}
.dia-download .btnlist{float:left;}
.dia-download .btnlist a,.download-popup .dia-close{width:212px;height:46px;display:block;margin-bottom:9px;background: url(http://game.gtimg.cn/images/yxzj/web201605/page/down.png);}
.dia-download .btnlist .pc{background-position:0 -112px;}
.dia-download .btnlist .ios{background-position:0 -56px;}
.dia-download .btnlist .android{background-position:0 0;}
.dia-download .btnlist .android1{background-position:0 -169px;}
.download-popup .dia-close{top:10px;right:10px;width:36px;height:36px;background-position:-264px -17px;}
.dia-weiquan{width: 306px;height: 297px;background: url(http://game.gtimg.cn/images/yxzj/web201605/page/weiquan.png);}
.dia-hero-pop{width: 306px;height: 297px;background: url(http://game.gtimg.cn/images/yxzj/web201605/page/hero_pop.png);}                      